<div class="container">
  <div class="Switch">
    <h1>Notificaciones</h1>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
  </div>
  <mat-card>
    <div class="info">
      <h2 style="padding-bottom:0">
        <mat-icon>calendar_today</mat-icon>
        Cita con Juan Perez
      </h2>
      <div class="hora">
        <mat-icon>schedule</mat-icon>
        <p>Jue 05/05/22 - 10:30</p>
      </div>
      <div class="via">
        <mat-icon>supervised_user_circle</mat-icon>
        <p>Videoconferencia</p>
      </div>
      <div class="detalles">
        <a href="">Detalles de la reunion</a>
      </div>

    </div>
    <div class="actions">
       <h2>Sala de reunion</h2>
      <button mat-raised-button color="primary">Iniciar</button>
      <button mat-raised-button color="accent">Terminar</button>
      <button mat-raised-button color="warn">Cancelar</button>
    </div>
  </mat-card>
</div>
