h1{

  font-weight: bold;
  text-align: center;
  margin-top: 0rem;
  color: royalblue;
  padding-top: 2.5rem;
  margin-bottom: 2rem;
}
.fieldName{
  width:5rem;
  position: relative;
  float: left;
}
.field{
  margin-left: 1rem;
  width: 30rem;
}
.list{
  float: right;
  position: relative;
  width: 50%;
}
.mat-list-item{
  float: left;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
img{
  float:left;
  position: relative;
  margin-left: 13%;
  margin-top: 2rem;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}
mat-card{
  margin: 3rem;
  height: 19cm;
}
@media (max-width: 1229px) {
  img{
    float:left;
    position: relative;
    margin-left: 1%;
    margin-top: 2rem;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
  }
}
@media (max-width: 965px) {
  img{
    float:left;
    position: relative;
    margin-left: 20%;
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
  }
  .list{
    float: left;
    padding-left: 9rem;
    position: relative;
    width: 50%;
  }
  mat-card{
    margin: 3rem;
    height: 30cm;
  }
}
